<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        {% block head %}
            
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {%- block meta_title -%}
                {%- endblock -%}
            </title>
            
            {% block head_stylesheets %}

                {% stylesheets
                    "../vendor/components/normalize.css/normalize.css"
                    "@KyoushuFoundationBundle/Resources/scss/app.scss"
                    filter="scssphp"
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
                
            {% endblock %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
            {% block body_content %}
                
                <div class="row">
                    <div class="large-12 columns">
                        
                        <h2>Page Title</h2>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis gravida semper.
                            Phasellus non diam quis metus gravida dictum id quis sem. Mauris vitae quam porttitor,
                            vulputate ante vel, porttitor justo. Nullam laoreet condimentum tortor, sed fermentum
                            arcu porta eu. Quisque sit amet eros risus. Integer pharetra eu nisl nec sodales.
                            Donec consectetur urna eu lacus ultrices tempor. Donec at purus non quam rhoncus
                            consectetur eget id erat. Cras nulla risus, interdum in turpis id, venenatis sodales
                            elit. Proin eros est, egestas eu aliquam vel, laoreet sit amet metus. Donec lacinia
                            est vel faucibus vehicula. Nam elementum malesuada libero, ut luctus erat eleifend ut.
                        </p>
                        
                        <p>
                            Nulla volutpat blandit commodo. Cras turpis lacus, facilisis quis mi ut, porttitor
                            consectetur dolor. Sed nec nisl quis augue convallis volutpat id quis lectus. Sed
                            iaculis enim ut justo eleifend, et tincidunt dolor semper.
                        </p>
                        
                    </div>
                </div>
                
                
                
            {% endblock %}
            
            {% block body_javascripts %}
        
                {% javascripts
                    '../vendor/components/modernizr/modernizr.js'
                    '../vendor/components/jquery/jquery.js'
                    '../vendor/zurb/foundation/js/foundation/foundation.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                
                <script>$(document).foundation();</script>
                
            {% endblock %}
            
        {% endblock %}
    </body>
</html>